{% extends '../_base.html' %}
{% load static %}
{% block main %}
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Change Password</h2>
    </div>
  </div>
  <!-- End Breadcrumbs -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row mt-5">
        <div class="col-lg-8 mt-5 mt-lg-0">
          <form action="" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script src="{% static 'assets/js/formStyle.js' %}"></script>
  <script>
    let nav_links = document.querySelectorAll('a')
    nav_links.forEach((link) => {
      if (link.innerText == 'More') {
        link.classList.add('active')
      } else if (link.innerText == 'Home') {
        link.classList.remove('active')
      }
    })
  </script>
{% endblock %}
{% block footer %}
{% endblock %}