{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <meta name="description" content="Edgars Microcrédito E.I - Soluções financeiras para você.">
    <meta name="keywords" content="microcrédito, empréstimos, finanças, Edgars">
    <title>{% block title %}Edgars Microcrédito E.I{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <img src="{% static 'image/image1.jpg' %}" alt="Edgars Microcrédito Logo">
        <nav>
            <a href="#inicio">Início</a>
            <a href="#about">Sobre Nós</a>
            <a href="#produtos">Produtos</a>
            <a href="#../EDGARSMICRO/payment_instructions.html">Pagamentos</a>
            <a href="#contactos">Contactos</a>
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="{% url 'password_change' %}">Mudar Senha</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Signup</a>
            {% endif %}
        </nav>
        {% endblock %}
    </header>

    <main>
        {% block main %}
        <section class="hero" id="inicio">
            <h1>Bem-vindo à EDGARS Microcrédito. E. I </h1>
            <p>Empoderando sonhos através de soluções financeiras acessíveis.</p>
        </section>
        <section class="about-overview">
            <h2>Sobre Nós</h2>
            <a href="#about" class="navigate-about">Saiba Mais</a>
        </section>

          

        <section class="features">
            <div>
                <h2>NOSSOS PRODUTOS</h2>
                <p>Conheça nossos produtos e adira ao financiamento.</p>
            </div>
            <div>
                <h3>SOLICITAR EMPRÉSTIMO</h3>
                <p>Realize os seus sonhos com nosso financiamento.</p>
            </div>
            <div>
                <h3>AGÊNCIAS</h3>
                <p>Encontre a agência mais próxima.</p>
            </div>
            <div>
                <h3>APOIO À BANCA DIGITAL</h3>
                <p>Saiba mais sobre os nossos canais digitais.</p>
            </div>
        </section>
        {% endblock %}
    </main>

    <footer class="footer" id="contactos">
        {% block footer %}
        <p>Contacte-nos:</p>
        <p>Email: <a href="mailto:contato@edgarsmicrocredito.co.mz">contato@edgarsmicrocredito.co.mz</a></p>
        <p>Telefone: <a href="tel:+258866220038">+258 866220038</a></p>
        <p>&copy; 2025 EDGARS Microcrédito. Todos os direitos reservados.</p>
        {% endblock %}
    </footer>
</body>
</html>