{% extends "_base.html" %}
{% load static %}

{% block title %}Home - Edgars Microcrédito E.I{% endblock %}

{% block main %}
<main>
    {% if user.is_authenticated %}
        <p>Bem-vindo, {{ user.username }}!</p>
        <a href="{% url 'login' %}">Sair</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <section class="hero" id="inicio">
        <h1>Bem-vindo à EDGARS Microcrédito. E. I </h1>
        <p>Empoderando sonhos através de soluções financeiras acessíveis.</p>
    </section>
    <section class="about-overview">
        <h2>Sobre Nós</h2>
        <p>
            A <strong>EDGARS Microcrédito, E.I.</strong> é uma instituição financeira moçambicana sediada em 
            <strong>Lichinga, Bairro Muchenga 1</strong>, dedicada à provisão de <strong>serviços financeiros acessíveis e sustentáveis</strong>, 
            com foco especial nas <strong>comunidades rurais</strong>.
        </p>
        <p>
            Atuamos com <strong>responsabilidade, ética e transparência</strong> na gestão dos recursos financeiros internos e externos, 
            assegurando que cada investimento contribua para o <strong>crescimento económico</strong> e a 
            <strong>melhoria das condições de vida</strong> dos nossos clientes.
        </p>
        <p>
            A nossa missão é <strong>oferecer soluções de microcrédito de alta qualidade</strong> para pessoas e pequenos empreendedores 
            de baixa renda, promovendo a <strong>inclusão financeira</strong>, o <strong>empoderamento comunitário</strong> 
            e o <strong>desenvolvimento sustentável</strong> das regiões onde atuamos.
        </p>
        <p>
            Na EDGARS Microcrédito, acreditamos que <strong>o acesso justo ao crédito transforma vidas</strong> e fortalece 
            o tecido social e económico das comunidades rurais de Moçambique.
        </p>
        <a href="#about" class="navigate-about">Saiba Mais</a>
    </section>
    

    <section class="features">
        <div>
            <h3>NOSSOS PRODUTOS</h3>
            <p>Conheça nossos produtos e adira ao financiamento.</p>
        </div>
        <div>
            <h3>SOLICITAR EMPRÉSTIMO</h3>
            <p>Realize os seus sonhos com nosso financiamento.</p>
        </div>
        <div>
            <h3>AGÊNCIAS</h3>
            <p>Encontre a agência mais próxima.</p>
        </div>
        <div>
            <h3>APOIO À BANCA DIGITAL</h3>
            <p>Saiba mais sobre os nossos canais digitais.</p>
        </div>
    </section>

    <section class="products-section" id="produtos">
        <h2>Nossos Serviços De Creditos Disponiveis</h2>
        <div class="products">
            <div class="product">
                <h3>Crédito Pagamentos Diários</h3>
                <p>Limite: 2.000 - 5.000 MT</p>
                <a href="{% url 'credito_diario' %}">Solicitar</a>
            </div>
            <div class="product">
                <h3>Crédito Relâmpago</h3>
                <p>Valor: 1.000 - 5.000 MT</p>
                <p>Pagamento: até 10 dias</p>
                <a href="{% url 'credito_relampago' %}">Solicitar</a>
            </div>
            <div class="product">
                <h3>Crédito Plus</h3>
                <p>Valor Máximo: 20.000 MT</p>
                <a href="{% url 'credito_plus' %}">Solicitar</a>
            </div>
            <div class="product">
                <h3>Crédito Empresa</h3>
                <p>Valor Máximo: 20.000 a 50.000 MT</p>
                <a href="{% url 'credito_empresa' %}">Solicitar</a>
            </div>
        </div>
    </section>
</main>
{% endblock main %}